### Pandas Series:-

The pandas Series is a one-Dimensional data structure, it is a similar kind of one-Dimensional ndarray, and is capable of holding homogeneous elements with any data type. It can store integers, strings, floating-point numbers, Python objects, etc.

1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [13]:
import pandas as pd
data = pd.Series([1,2,3,4,5])
print(data)

0    1
1    2
2    3
3    4
4    5
dtype: int64

-------------------------------------------------------------------------------------------------------------------------------

2. Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [ ]:
list_series = list(data)
print(type(list_series))

-------------------------------------------------------------------------------------------------------------------------------

#### 3. Write a Pandas program to compare the elements of the two Pandas Series.Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [ ]:
a = pd.Series([2,4,6,8,10])
b = pd.Series([1,3,5,7,10])
print(a>b)
print(a<b)
print(a==b)

4.Write a Pandas program to convert a dictionary to a Pandas series.
Sample Series:
>{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Converted series:
a 100
b 200
c 300
d 400
e 800
dtype: int64

In [ ]:
dict_ = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
dict_into_series = pd.Series(dict_)
print(dict_into_series)

5. Write a Pandas program to convert a NumPy array to a Pandas series.
Sample Series:
> NumPy array:
[10 20 30 40 50]

In [ ]:
import numpy as np
array = np.array([10,20,30,40,50])
array_series = pd.Series(array)
print(array_series)

6.Write a Pandas program to convert the first column of a DataFrame as a Series.
> Original DataFrame
col1 col2 col3
0 1 4 7
1 2 5 5
2 3 6 8
3 4 9 12
4 7 5 1
5 11 0 11

In [24]:
dict_1 = {'col1':[1,2,3,4,7,11],'col2':[4,5,6,9,5,0],'col3':[7,5,8,12,1,11]}
data_frame = pd.DataFrame(dict_1)
print(type(data_frame))

s1 = pd.Series(data_frame["col1"])

print(type(s1))
s1

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

7. Write a Pandas program to add some data to an existing Series.

> 0 100
  1 200
  2 python
  3 300.12
  4 400

In [7]:
import warnings
warnings.filterwarnings('ignore')
series = pd.Series([100,200,"python",300.12,400])
series_updated = series.append( pd.Series([1000,1114,"prakash"]))
print(series_updated)

0        100
1        200
2     python
3     300.12
4        400
0       1000
1       1114
2    prakash
dtype: object

7. Write a Pandas program to create a subset of a given series based on value and condition. Go to the editor

>Sample Output:
Original Data Series:
0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9
10 10
dtype: int64

>Subset of the above Data Series:
0 0
1 1
2 2
3 3
4 4
5 5
dtype: int64

In [17]:
series_data = pd.Series([1,2,3,4,5,6,7,8,9,10])
series_condition = series_data[series_data <6]
print(series_condition)

0    1
1    2
2    3
3    4
4    5
dtype: int64

#### 8. Write a Pandas program to convert a dictionary to a Pandas series. Go to the editor
Sample Series:

Original dictionary:

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}


Converted series:
a 100
b 200
c 300
d 400
e 800
dtype: int64

In [14]:
import pandas as pd
series = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
pd.Series(series)

a    100
b    200
c    300
d    400
e    800
dtype: int64

#### 9.Write a Pandas program to change the data type of given a column or a Series.

In [14]:
series = pd.Series([100,200,"python",300.12,400])
s1 = pd.to_numeric(series,errors = 'coerce')
s1

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

#### 10 . Write a Pandas program to convert a given Series to an array

In [27]:
import numpy as np
s = np.array(series)

#### 11.Write a Pandas program to convert Series of lists to one Series

In [32]:
list_s = [["Raj", "Singh" , "Rahul"],[1,23,1,4],[10.00,18.0,90.02,88]]

In [37]:
series = pd.Series(list_s)
## series.apply is used to split the iterable objects into different columns
## stack() is used to stack multiple columns 
s = series.apply(pd.Series).stack().reset_index(drop = True)
s

0       Raj
1     Singh
2     Rahul
3         1
4        23
5         1
6       4.0
7      10.0
8      18.0
9     90.02
10     88.0
dtype: object

#### 12. program to sort values in a series

In [48]:
s1 = pd.to_numeric(s,errors = "coerce")
sorted_s = pd.Series(s1).sort_values()
sorted_s

3      1.00
5      1.00
6      4.00
7     10.00
8     18.00
4     23.00
10    88.00
9     90.02
0       NaN
1       NaN
2       NaN
dtype: float64

In [50]:
s = pd.Series(['100', '200', 'python', '300.12', '400'])
s.sort_values()

0       100
1       200
3    300.12
4       400
2    python
dtype: object

#### 13. Write a Pandas program to change the order of index of a given series.

In [67]:
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
s

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [66]:
s = s.reindex(index = ['B','A','C','D','E'])
s

B    2
A    1
C    3
D    4
E    5
dtype: int64

#### 14.Write a Pandas program to create the mean and standard deviation of the data of a given Series

In [70]:
list_s = pd.Series([1,23,1,4,10.00,18.0,90.02,88])

In [75]:
print(list_s.mean(),"mean")
print(list_s.std(),"standard deviation")

29.377499999999998 mean
37.63414169910842 standard deviation

#### 15. Write a Pandas program to find the index of the first occurrence of the smallest and largest value of a given series

In [87]:
list_s = pd.Series([1,23,1,4,10.00,18.0,90.02,88])
print(list_s.idxmin(),"first occurrence of minimum number")
print(list_s.idxmax(),"first occurrence of maximum number")

0 first occurrence of minimum number
6 first occurrence of maximum number

In [88]:
#### 16. find equality of two series

In [90]:
list_s = pd.Series([1,23,1,4,10.00,18.0,90.02,88])
list_r = pd.Series([1,23,1,4,10.00,18.0,90.02,88])
list_s == list_r

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
dtype: bool

#### 17. stack two given list verically and horizontally

In [93]:
pd.concat([list_s,list_r],axis = True)

       0      1
0   1.00   1.00
1  23.00  23.00
2   1.00   1.00
3   4.00   4.00
4  10.00  10.00
5  18.00  18.00
6  90.02  90.02
7  88.00  88.00

In [95]:
pd.concat([list_s,list_r],axis = 0)

0     1.00
1    23.00
2     1.00
3     4.00
4    10.00
5    18.00
6    90.02
7    88.00
0     1.00
1    23.00
2     1.00
3     4.00
4    10.00
5    18.00
6    90.02
7    88.00
dtype: float64

#### 18 Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.

In [42]:
import numpy as np
series = pd.Series([5,88,55,10,29,13,1])
multiple = np.where(series% 5 == 0 )
print(multiple)

(array([0, 2, 3], dtype=int64),)

#### 19 Write a Pandas program to extract items at given positions of a given series

In [8]:
import pandas as pd
s = pd.Series([1,2,3,4,8,8,8,9,89])
s1 = pd.Series([2,8,9,89])
result = [pd.Index(s,).get_loc(i) for i in s1]
result

[1, slice(4, 7, None), 7, 8]

In [12]:
s = pd.Series(["prakash","singh","string"])
slen = pd.Series([len(i) for i in s])
slen

0    7
1    5
2    6
dtype: int64

In [14]:
slen = s.map(lambda x: len(x))
slen

0    7
1    5
2    6
dtype: int64

#### 20 Write a Pandas program to compute difference of differences between consecutive numbers of a given series.

In [26]:
s = pd.Series([1,4,7,9,12])
num = [0]
print(s.diff().tolist())
print(s.diff())
print(s.diff().diff())

[nan, 3.0, 3.0, 2.0, 3.0]
0    NaN
1    3.0
2    3.0
3    2.0
4    3.0
dtype: float64
0    NaN
1    NaN
2    0.0
3   -1.0
4    1.0
dtype: float64

#### 21 Write a Pandas program to convert a series of date strings to a timeseries

In [29]:
time_series = pd.Series(["1 Jan 2015","10-02-2016","20180307","2014/05/06","2016-04-12","2019-04-06T11:20"])
time = pd.to_datetime(time_series)
time

0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

#### 22 Write a Pandas program to get the day of month, day of year, week number and day of week from a given series of date strings

In [41]:
### This module offers a generic date/time string parser which is able to parse most known 
### formats to represent a date and/or time.

from dateutil.parser import parse

time_series = pd.Series(["1 Jan 2015","10-02-2016","20180307","2014/05/06","2016-04-12","2019-04-06T11:20"])
time_series = time_series.map(lambda x : parse(x))
print(time_series.dt.day.tolist())
print(time_series.dt.dayofyear.tolist())

[1, 2, 7, 6, 12, 6]
[1, 276, 66, 126, 103, 96]